
# UnitySDK
UnitySDK/Library/*
UnitySDK/Temp/*
UnitySDK/UserSettings/*
UnitySDK/Logs/*
UnitySDK/.idea/*
UnitySDK/obj/*
UnitySDK/*.csproj
UnitySDK/*.sln
UnitySDK/.vs/
UnitySDK/Build/*
UnitySDK/*.sln.DotSettings.user
UnitySDK/.vsconfig
UnitySDK/.vscode/

# UnrealSDK
UnrealSDK/.vs/
UnrealSDK/Binaries/
UnrealSDK/Intermediate/
UnrealSDK/Plugins/*/Binaries/*
UnrealSDK/Build/
UnrealSDK/Saved/*
UnrealSDK/DerivedDataCache/
