
# UnitySDK
UnitySDK/Library/*
UnitySDK/Temp/*
UnitySDK/UserSettings/*
UnitySDK/Logs/*
UnitySDK/.idea/*
UnitySDK/obj/*
UnitySDK/*.csproj
UnitySDK/*.sln
UnitySDK/.vs/
UnitySDK/Build/*
UnitySDK/*.sln.DotSettings.user
UnitySDK/.vsconfig
UnitySDK/.vscode/

# CppSDK
CppSDK/build/
